@keyframes moveLeftToRight {
    0%   {
      bottom: 25%; 
      opacity:0.33;
    }
    35%{
        bottom: 30%;
        opacity: 1;
    }
  }

  @keyframes firework2 {
	0% {
		box-shadow: 
      -10px 10px #E1DF4A,
      10px 10px #E1DF4A,
      10px -10px #E1DF4A,
      -10px -10px #E1DF4A,
      
      -10px 0px #E1DF4A,
      10px 0px #E1DF4A,
      0px -10px #E1DF4A,
      0px 10px #E1DF4A;
	}
  100% {
    box-shadow: 
      -50px 50px 10px rgba(255,255,255,0),
      50px 50px 10px rgba(255,255,255,0),
      50px -50px 10px rgba(255,255,255,0),
      -50px -50px 10px rgba(255,255,255,0),
    
      -100px 0px 10px rgba(255,255,255,0),
      100px 0px 10px rgba(255,255,255,0),
      0px -100px 10px rgba(255,255,255,0),
      0px 100px 10px rgba(255,255,255,0);
  }
}

@keyframes firework3 {
	0% {
		box-shadow: 
      -10px 10px #FCECC4,
      10px 10px #FCECC4,
      10px -10px #FCECC4,
      -10px -10px #FCECC4,
      
      -10px 0px #FCECC4,
      10px 0px #FCECC4,
      0px -10px #FCECC4,
      0px 10px #FCECC4;
	}
  100% {
    box-shadow: 
      -50px 50px 10px rgba(255,255,255,0),
      50px 50px 10px rgba(255,255,255,0),
      50px -50px 10px rgba(255,255,255,0),
      -50px -50px 10px rgba(255,255,255,0),
    
      -100px 0px 10px rgba(255,255,255,0),
      100px 0px 10px rgba(255,255,255,0),
      0px -100px 10px rgba(255,255,255,0),
      0px 100px 10px rgba(255,255,255,0);
  }
}

@keyframes firework {
	0% {
		box-shadow: 
      -10px 10px #35948E,
      10px 10px #35948E,
      10px -10px #35948E,
      -10px -10px #35948E,
      
      -10px 0px #35948E,
      10px 0px #35948E,
      0px -10px #35948E,
      0px 10px #35948E;
	}
  100% {
    box-shadow: 
      -50px 50px 10px rgba(255,255,255,0),
      50px 50px 10px rgba(255,255,255,0),
      50px -50px 10px rgba(255,255,255,0),
      -50px -50px 10px rgba(255,255,255,0),
    
      -100px 0px 10px rgba(255,255,255,0),
      100px 0px 10px rgba(255,255,255,0),
      0px -100px 10px rgba(255,255,255,0),
      0px 100px 10px rgba(255,255,255,0);
  }
}

@keyframes color {
  from{
      color: white;    
  }

  to {
      color: #662B91;
  }
}
